<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/habits.css">
    <title>NecoHub Habits</title>
</head>
<body>
    <header>
        <div class="logo">
            <span class="logo-text">Neco</span><span class="logo-highlight">Hub</span>
        </div>
        <nav>
            <ul>
                <li><a href="#">Hábitos</a></li>
                <li><a href="#">Tarefas</a></li>
                <li><a href="#">Relatórios</a></li>
                <li><a href="#">Configurações</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <section class="habit-list">
                <h2>Meus Hábitos</h2>
                <ul>
                    {% if habitos|length == 0 %}
                        <li>
                            <span class="habit-name">Sem habitos registrados</span>
                        </li>
                    {% else %}
                        {% for habito in habitos %}
                            <li>
                                <span class="habit-name">{{habito.name}}</span>
                                <form action="{{ url_for('mark_done') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="habit_id" value="{{ habito.id }}">
                                    <input type="date" name="date" class="date-input" value="{{ ano_atual }}-{{ mes_atual }}-{{ loop.index }}">
                                    <button type="submit" class="mark-done">Concluído</button>
                                </form>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </section>
            <section class="add-habit">
                <h2>Adicionar Hábito</h2>
                <form action="{{ url_for('add_habit') }}" method="post">
                    <input type="text" name="name" placeholder="Nome do hábito">
                    <input type="text" name="category" placeholder="Categoria do hábito">
                    <button type="submit">Adicionar</button>
                </form>
            </section>
        </div>
        <section class="contribution-chart">
            <h2>Gráfico de Habitos</h2>
            {% if habitos|length == 0 %}
                <h2>Sem habitos registrados</h2>
            {% else %}
                <select id="chart-options" class="chart-options" onchange="updateChart()">
                {% for habito in habitos %}
                    <option value="{{habito.id}}">{{habito.name}}</option>
                {% endfor %}
                </select>
            {% endif %}
            <h3>{{ nome_mes }}</h3>
            <div id="chart-grid" class="chart-grid">
                {% for habito in habitos %}
                    {% for level in habito_levels[habito.id] %}
                        <div class="level-{{ level }}"></div>
                    {% endfor %}
                {% endfor %}
            </div>
        </section>
    </main>
    <script>
        const habitoLevels = {{ habito_levels|tojson }};
        
        function updateChart() {
            const selectedHabitId = document.getElementById('chart-options').value;
            const chartGrid = document.getElementById('chart-grid');
            chartGrid.innerHTML = ''; // Limpa o gráfico atual

            // Adiciona os novos níveis ao gráfico
            habitoLevels[selectedHabitId].forEach(level => {
                const div = document.createElement('div');
                div.className = `level-${level}`;
                chartGrid.appendChild(div);
            });
        }

        // Atualiza o gráfico ao carregar a página pela primeira vez
        window.onload = updateChart;
    </script>
</body>
</html>